body{
    margin:20px;
}

div{
    margin: 5px;
    padding: 10px;
}
.btn-group-vertical{
    width: auto;
}

.btn1{
    width: 69.28px;
}

.btn2{
    width: 69.28px;
}

.btn3{
    width: 69.28px;
}

.btn4{
    width: 69.28px;
}

.btn5{
    width: 69.28px;
}
